.alinear-nav-mapa {
    margin-top: -20px !important;
    padding-top: 20px !important;
}

.mapa {
    padding: 1rem;
    width: 100%;
    height: auto;
}
.imagen-mapa {
    width: 250px;
    height: 250px;
}

.texto {
    overflow: hidden;
}

.modal-imagen-body {
    width: 100%;
}

.google-map {
    font-size: 0.85rem;
}

.color-marron-texto-boton {
    color: #8c734b;
}

@media (max-width: 1440px) {
    .modal-boton {
        width: 350px;
        height: 380px;
    }
}

@media (max-width: 1024px) {
    .modal-boton {
        width: 200px;
        height: 200px;
    }
}

@media (max-width: 768px) {
    .ocultar-mapa {
        display: none;
    }
    .centrar-texto-responsive {
        text-align: center;
    }
}

@media (max-width: 425px) {
    .modal-boton {
        width: 200px;
        height: 200px;
    }
}
